*{
	margin: 0;
	padding: 0;
	font-size: 28px;
}
/*头部样式*/
ul{
	list-style: none;
}
.header{
	max-width: 2000px;
	background: #fdfdfd;
	height: 200px;
	overflow: hidden;
}
.clearfix:after{
	content: "";
	width: 0;
	height: 0;
	display: block;
	visibility: hidden;
	clear: both;
}
.banner,
.login{
	width: 50%;
	height: 150px;
	float: left;
}
.title,
.logo{
	margin-top:50px;
	float: left;
}
.logo{
	padding-left: 200px;	
}
.title{
	height: 36px;
	font-size: 36px;
	line-height: 36px;
	margin-left: 50px;
	margin-top: 70px;
	padding-left: 50px;
	border-left: 3px solid #707070;
}
#nav{
	width: 1400px;
	margin: 0 auto;
}
.header nav {
	height: 50px;
	line-height: 48px;
	background: #66cc00;
}
.header nav ul li{
	display: inline-block;
}
.header nav ul li a{
	width: 200px;
	display: inline-block;
	color: #fff;
	font-weight: 700;
	text-align: center;
	text-decoration: none;
}
/*.header nav ul li:after{
	content:'|';
	color: #fff;
}*/

/*第一部分样式*/
#content{
	width: 100%;
}
.first-section,
.second-section,
.third-second{
	height: 600px;
	background: #999;
	position: relative;
}
.first-logo,
.slogan,
.big-slogan{
	height: 80px;
	line-height: 80px;
	font-weight: 500;
	padding-left: 250px;
	width: 500px;
}
.slogan{
	margin-left: 100px;
}
.big-slogan{
	padding-top: 200px;
	font-size: 48px;
	font-weight: 900;
}
#login-in{
	width: 300px;
	height: 330px;
	position: absolute;
	top: 60px;
	right: 250px;
	background: #fff;
	text-align: center;
	padding: 75px;
}
#login-in p:first-child,
.check-in,
.logining{
	font-size: 30px;
	font-weight: 500;
}
.check-in{
	color: #ff0000;
}
.logining{
	color: #0000ff;
}
#login-in p:nth-child(2){
	margin: 15px auto;
}
#login-in hr{
	width: 300px;
	border-width: 2px;
}
#login-in input{
	margin-top: 30px;
	height: 50px;
	line-height: 50px;
	width: 300px;
	border-radius: 10px;
}
#login-in #submit{
	width: 180px;
}
#login-in #forget{
	width: 100px;
	display: inline-block;
	color: #ff0000;
	font-size: 20px;
}
.first-section{
	background:url(../img/首页图层1.png) no-repeat top left;
	background-size: 100%;
}
.second-section{
	padding: 160px 300px;
	height: 280px;
	margin-top: 20px;
	margin-bottom: 120px;
	background: url(../img/首页图层2.png) no-repeat top left;
	background-size: 100%;	
}
.second-section p{
	color: #fff;
}
.second-section p:first-child{
	font-size: 48px;
	font-weight: 900;
}
.second-section p:nth-child(2){
	padding: 25px 0 15px 50px;
}
.second-section p:nth-child(3){
	padding-left: 100px;
}
.poster-video{
	position: absolute;
	top: -20px;
	right: 100px;
	z-index: 10;
	width: 880px;
	height: 640px;
	background: url(../img/首页图层2一起.png) no-repeat top left;
	background-size: 100%;	
}











